---
layout: base.njk
title: Login
---

    <main>
        <div class="auth-container">
            <h1 id="formTitle">Login</h1>
            <form id="authForm">
                <label for="username">Username</label>
                <input type="text" id="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" required>
                <button type="submit" id="authButton">Login</button>
            </form>
            <span class="toggle-link" id="toggleLink">Don't have an account? Register</span>
        </div>
    </main>
